---
import ForecastMap from "../components/ForecastMap.jsx";
---
<html lang="nl">
  <head>
    <title>Kitebuddy – Kitespots</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  </head>
  <body class="bg-gray-100 font-sans">
    <h1 class="text-white text-3xl text-center bg-cyan-700 p-4">Kitesurf Voorspelling – Nederland</h1>
    <ForecastMap client:only="react" />
  </body>
</html>