---
import "../styles/global.css";
---

<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>
  <body class="bg-amber-50 font-sans text-gray-800 min-h-screen">
    <slot />
  </body>
</html>
